{% extends 'base.html' %}

{% block main %}
<h1>Show files</h1>
<label for="cars">Cluster A</label>
<select id="att_a" name="files_a" form="pickfile">
    {% for file in data[file_a] %}
        <option value="volvo">{{file}}</option>
    {% endfor %}
</select>
<br>
<label for="cars">Cluster B</label>
<br>
<select id="att_b" name="files_b" form="pickfile">
    {% for file in data[file_b] %}
        <option value="volvo">Volvo</option>
    {% endfor %}
</select>

<form action="localhost:9000/show_files/" id="pickfile" >
  <input type="submit" text="Pick">
</form>

{% endblock %}
